@media (max-width: 850px) {
    .child {
        width: 100%;
    }

    .first_section h1 {
        font-size: 22px;
    }

    .form_group {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .first_section h1 {
        font-size: 18px;
    }

    .location_contain,
    .values_section,
    .faq_section,
    .quick_contact_section {
        padding: 0 10px;
    }

    .child,
    .quick_contact_box {
        padding: 18px;
    }

    #form {
        width: 100%;
    }

    .map_wrapper {
        height: 200px;
    }
}

@media (max-width: 350px) {
    .button {
        width: 100%;
        text-align: center;
    }
}